footer.footer
    .container.my-footer.d-flex
      .row
        .col-md-4.mb-4
            .footer-header.mb-5 FIND OUT WHO WE ARE
            .footer-text.mb-4
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque interdum dignissim semper. Sed non augue nec dui gravida dapibus. Sed a ligula non odio facilisis tempor.
            a.know-us.mb-4.px-5.py-4(href="#") GET TO KNOW US
        .col-md-4.mb-4
            .footer-header.mb-5 COMPANY
            ul
                li.mb-4
                    a.footer-link(href="#") PORTFOLIO
                li.mb-4
                    a.footer-link(href="#") ABOUT US
                li.mb-4
                    a.footer-link(href="#") CAREERS
                li.mb-4
                    a.footer-link(href="#") CONTACT
                li.mb-4
                    a.footer-link(href="#") FAQ
        .col-md-4.mb-4
            .footer-header.mb-5 SUPPORT
            ul
                li.mb-4.d-flex
                    .footer-link-text Call us:
                    a.footer-link(href="tel:+6175355000") (617) 535-5000
                li.mb-4
                    a.footer-link(href="mailto:questions@caspisoftline.com") questions@caspisoftline.com
                li.mb-4
                    a.footer-link(href="#") Privacy Policy
                li
                    .footer-link-text Employment Verification:
                    .d-flex
                        .footer-link-text Fax:
                        a.footer-link(href="#") (617) 535-5005
                    .d-flex
                        .footer-link-text Phone:
                        a.footer-link(href="tel:+8775485266") (877) 548-5266
    .social-banner.py-2
        .container.py-4.d-flex.social-banner__container
            a.px-3(href="#")
                img(src="./img/icons/facebook.svg", alt="facebook")
            a.px-3(href="#")
                img(src="./img/icons/linkedin.svg", alt="linkedin")