.to-down
    position: absolute
    left: 0
    right: 0
    bottom: 6rem
    cursor: pointer
.idea
    width: 50%
    margin-top: 2rem
    padding: 0 1rem 0 1rem
.idea-modal
    width: 62rem
    max-width: 100%
    height: 55.2rem
    &__content
        padding: 4rem 6rem
        background-color: $modal-bg-color
        .my-modal-header
            border: 0
    &__title
        font: 600 18px $main-font
        // margin-bottom: 4rem
.modal-alert
    visibility: hidden
.custom-close
    font-size: 22px
    position: absolute
    top: 3px
    right: 3px
    z-index: 1
    outline: none!important
    span
        cursor: pointer!important
        font-size: 30px
.form-item
    width: 24rem
    margin-bottom: 2rem
    position: relative
    height: 60px
.idea-label
    font: 500 14px $main-font
    color: $main-color
    position: absolute
    top: 0
    left: 0
    padding: 10px 20px
    transition: all 0.4s ease

.number-label.idea-label
    margin-left: 7rem

.idea-item--active
    .number-label.idea-label
        left: 0!important
        top: -50%
        margin-left: 0

#number.idea-input:focus + .number-label.idea-label
    left: 0!important
    margin-left: 0

.idea-input
    width: 100%
    padding: 1rem 2rem
    font: 500 16px $main-font
    color: $second-color
    border: 0
    border-bottom: 1px solid #1E60A0
    outline: none!important
    background-color: transparent
    &:valid + label
        top: -50%
        padding-left: 0
    &:focus + label
        top: -50%
        padding-left: 0

.form-select
    width: auto
.form-column
    height: 20px
    border: 0.5px solid #1E60A0
.number-input
    width: calc(100% - 67px)!important
.idea-modal-btn
    border-radius: 3rem
    padding: 12px
    border: 0
    outline: none!important
    font: 600 16px $main-font
    color: white
    background-color: $main-color
    cursor: pointer

.my-link
    width: 46rem
    height: 40rem
    border-radius: 5px
    transition: 0.4s ease
    &:hover
        box-shadow: 0px 4px 8px rgba(4, 45, 95, 0.15)
.my-img
    width: 110px
    height: 110px
.my-header
    font: 600 30px $main-font
    color: $second-color

.portfolio
    max-width: 1400px
    margin-left: auto
    margin-right: auto
    &__explore
        display: flex
        flex-basis: 43%
        justify-content: center
        align-items: center
        flex-direction: column
        background-color: $content-black
    &__works
        display: flex
        flex-basis: 57%
        flex-wrap: wrap
.explore
    margin-left: 11.5rem


.careers
    max-width: 1400px
    margin-left: auto
    margin-right: auto
    &__info
        position: relative
        display: flex
        flex-basis: 43%
        justify-content: center
        align-items: center
        flex-direction: column
        img
            position: absolute
            top: 0
            left: 0
            width: 30rem
            z-index: -1
        .careers-title
            font: 600 16px $main-font
            color: $main-color
    &__content
        display: flex
        flex-basis: 57%
        img
            width: 100%!important
            height: 100%!important

@media (max-width: 768px)
    .idea
        width: 100%
    
    .to-down
        bottom: 2rem
    
    .portfolio
        &__explore
            flex-basis: 25%
        &__works
            flex-basis: 75%
    .explore
        margin: 0 2rem

@media (max-width: 575px)
    .portfolio
        flex-direction: column
        &__explore
            padding-top: 3rem
            padding-bottom: 3rem
    .careers
        position: relative
        &__info
            position: absolute
            top: 0
            bottom: 0
            background: transparent
            img
                display: none
            .explore
                margin: 0 4rem 0 4rem
        &__content
            flex-basis: 100%
@media (max-width: 400px)
    .form-item
        width: 100%
    
    .to-down
        bottom: 0.5rem
