extends ../pug_includes/head

block unique-content
    .container.px-3.position-absolute.nav-wrapper
        include ../pug_includes/navbar.pug
    main.main
        .d-flex.align-items-center.position-relative
           .img-div(style="background-image: url('./img/about_us_1170x700.jpg')")
           .bg-div.position-absolute
           .container.p-0.position-absolute.a-x-auto
            .mx-5
                .content-title.text-center.mb-3 ABOUT US
                .content-motto.text-center
                    | MORE LIKE A FAMILY
                a.d-block.max-w-20.mx-auto.btn.content-btn.content-btn--white.mt-4(href="#") JOIN US       
        #main-content.container.px-3
            .about-team.MT-10.MB-10
                .content-header.mb-3
                    | ABOUT OUR TEAM
                .content-text
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse id sem semper, commodo nisi vel, convallis purus. Sed id nunc aliquet, ornare ex in, sodales leo. Phasellus et tempus nisl. Sed ac dolor tempus, lacinia tellus eget, laoreet diam. In vestibulum cursus porta. Mauris suscipit justo et nisl vehicula, eu mollis mauris finibus. Mauris laoreet tellus at ligula iaculis semper ac faucibus ipsum. Aenean in urna massa. Vestibulum finibus augue enim, id lobortis ante pellentesque sit amet. Sed quis feugiat ante. Vestibulum euismod dolor et cursus viverra. Nunc lectus lacus, convallis nec nisi non, elementum consequat mi. Duis fermentum diam eu fermentum tincidunt. 
                    | Curabitur malesuada malesuada dictum. Sed in lobortis sem.
            .team.MB-6
                .content-title.content-title--blue.text-center.mb-3
                    | TEAM
                .content-header.mb-3
                    | MORE LIKE A FAMILY
                .content-title.content-title--blue.text-center
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque in elit purus.
        .my-slider.my-slider-area.d-flex.align-items-center.MB-10
            .my-slider__item
                .member-img
                    img(src="./img/WA0000-235x300.jpg" alt="Team Member")
                .member-name.text-center.mb-3 Stanley Russell
                .member-profession.mb-3.text-center Developer
                .blue-line.mx-auto.mb-3
                a.d-block.mx-auto.linkedin.mb-3(href="#")
            .my-slider__item
                .member-img
                    img(src="./img/img_avatar3.png" alt="Team Member")
                .member-name.text-center.mb-2 Stanley Russell
                .member-profession.text-center.mb-3 Marketolog
                .blue-line.mx-auto.mb-3
                a.d-block.mx-auto.linkedin.mb-3(href="#")
            .my-slider__item
                .member-img
                    img(src="./img/img_avatar3.png" alt="Team Member")
                .member-name.text-center.mb-2 Stanley Russell
                .member-profession.text-center.mb-3 Marketolog
                .blue-line.mx-auto.mb-3
                a.d-block.mx-auto.linkedin.mb-3(href="#")
            .my-slider__item
                .member-img
                    img(src="./img/img_avatar3.png" alt="Team Member")
                .member-name.text-center.mb-2 Stanley Russell
                .member-profession.text-center.mb-3 Marketolog
                .blue-line.mx-auto.mb-3
                a.d-block.mx-auto.linkedin.mb-3(href="#")
            .my-slider__item
                .member-img
                    img(src="./img/img_avatar3.png" alt="Team Member")
                .member-name.text-center.mb-2 Stanley Russell
                .member-profession.text-center.mb-3 Marketolog
                .blue-line.mx-auto.mb-3
                a.d-block.mx-auto.linkedin.mb-3(href="#")
            .my-slider__item
                .member-img
                    img(src="./img/img_avatar3.png" alt="Team Member")
                .member-name.text-center.mb-2 Stanley Russell
                .member-profession.text-center.mb-3 Marketolog
                .blue-line.mx-auto.mb-3
                a.d-block.mx-auto.linkedin.mb-3(href="#")
            .myslider__item
                .member-img
                    img(src="./img/img_avatar3.png" alt="Team Member")
                .member-name.text-center.mb-2 Stanley Russell
                .member-profession.text-center.mb-3 Marketolog
                .blue-line.mx-auto.mb-3
                a.d-block.mx-auto.linkedin.mb-3(href="#")
            .my-slider__item
                .member-img
                    img(src="./img/img_avatar3.png" alt="Team Member")
                .member-name.text-center.mb-2 Stanley Russell
                .member-profession.text-center.mb-3 Marketolog
                .blue-line.mx-auto.mb-3
                a.d-block.mx-auto.linkedin.mb-3(href="#")
            .my-slider__item
                .member-img
                    img(src="./img/img_avatar3.png" alt="Team Member")
                .member-name.text-center.mb-2 Stanley Russell
                .member-profession.text-center.mb-3 Marketolog
                .blue-line.mx-auto.mb-3
                a.d-block.mx-auto.linkedin.mb-3(href="#")
        .container.MB-15
            .content-title.content-title--blue.text-center.mb-3
                | PROCESS
            .content-header.mb-3
                | ABOUT WORKING HERE
            .content-text
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse id sem semper, commodo nisi vel, convallis purus. Sed id nunc aliquet, ornare ex in, sodales leo. Phasellus et tempus nisl. Sed ac dolor tempus, lacinia tellus eget, laoreet diam. In vestibulum cursus porta. Mauris suscipit justo et nisl vehicula, eu mollis mauris finibus. Mauris laoreet tellus at ligula iaculis semper ac faucibus ipsum. Aenean in urna massa. Vestibulum finibus augue enim, id lobortis ante pellentesque sit amet. Sed quis feugiat ante. Vestibulum euismod dolor et cursus viverra. Nunc lectus lacus, convallis nec nisi non, elementum consequat mi. 
                | Duis fermentum diam eu fermentum tincidunt. Curabitur malesuada malesuada dictum. Sed in lobortis sem.

      
    include ../pug_includes/footer.pug