extends ../pug_includes/head

block unique-content
    header#header.header
        .container.px-3.position-absolute.nav-wrapper
            include ../pug_includes/navbar.pug
    main.main
        .d-flex.align-items-center.position-relative
           .map.w-100
                iframe.w-100.h-100(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d388948.3248466814!2d49.57477494848202!3d40.394254379738996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40307d6bd6211cf9%3A0x343f6b5e7ae56c6b!2sBaku!5e0!3m2!1sen!2s!4v1584197366345!5m2!1sen!2s', frameborder='0', style='border:0;', allowfullscreen='', aria-hidden='false', tabindex='0')
           .contact-bg-div.position-absolute
           .container.p-0.position-absolute.a-x-auto
            .mx-5.content-motto.text-center CONTACT US
        .contact-content.mx-auto.position-relative
            .send-message.container.px-3.mx-auto.a-x-auto.d-flex
                .message-div
                    .message-title.mb-2 Send us a Message
                    .message-alert.alert.mb-5(role="alert")
                    form.mt-2(action="")
                        .d-flex.flex-wrap.justify-content-between.mb-5
                            .message-item.d-flex.flex-column                              
                                input#yourName.message-input(type="text", required="", name="name")
                                label.message-label(for="yourName") Your Name
                            .message-item.d-flex.flex-column                               
                                input#yourSurname.message-input(type="text", required="", name="surname")
                                label.message-label(for="yourSurname") Your Surname
                            .message-item.d-flex.flex-column                                
                                input#yourEmail.message-input(type="email", required="", name="email")
                                label.message-label(for="yourEmail") Email Address
                            .message-item.d-flex.flex-column                               
                                input#yourSubject.message-input(type="text", required="", name="subject")
                                label.message-label(for="yourSubject") Subject
                            .w-100.mb-5.position-relative.d-flex.flex-column                              
                                textarea#yourMessage.message-input(name="message", required="", cols="30", rows="4")
                                label.message-label(for="yourMessage") Your Message
                        button#messageBtn.message-btn.py-3.mt-3.w-100(type="submit") SEND
                .contact-ways
                    .contact-way.mt-3.mb-5
                        img.mb-5.location-icon(src="./img/icons/location_white.svg") 
                        .contact-way__title Our Location
                        .contact-way__text.mb-3
                            | 809 McDermott Drive Apt. 073
                        .contact-way__text.mb-3
                            | 3401 Hintz Estate Suite 126  
                    .contact-way.mt-3.mb-5
                        img.mb-5.mail-icon(src="./img/icons/mail_white.svg")
                        .contact-way__title Contact With Mail
                        a.contact-way__text.mb-3.d-block(href="mailto:lavon_tromp@yahoo.com") lavon_tromp@yahoo.com
                        a.contact-way__text.mb-3.d-block(href="mailto:korey.hirthe@yahoo.com") korey.hirthe@yahoo.com
                        a.contact-way__text.mb-3.d-block(href="mailto:mayert.norbert@esteban.us") mayert.norbert@esteban.us
                    .contact-way
                        img.mb-5.call-icon(src="./img/icons/call_white.svg") 
                        .contact-way__title Telephone
                        a.contact-way__text.mb-3.d-block(href="tel:809-131-9709") 809-131-9709
                        a.contact-way__text.mb-3.d-block(href="tel:842-267-7205") 842-267-7205
                        a.contact-way__text.mb-3.d-block(href="tel:653-070-7430") 653-070-7430                         
    
    include ../pug_includes/footer.pug