extends ../pug_includes/head

block unique-content
    header#header.header
        .container.px-3.position-absolute.nav-wrapper
            include ../pug_includes/navbar.pug
    main.main
        .d-flex.align-items-center.position-relative.top-div
           .container.p-0.position-absolute.a-x-auto
            .mx-5
                .content-title.text-center.mb-3 FAQ
                .content-motto.text-center
                    | Lorem Ipsum dolor sit amet
        .content-body.mx-auto
            .question.mx-auto.a-x-auto
                .question__title.mb-2 Send us a Question
                .question-alert.alert.mb-5(role="alert")
                form.question__form.d-flex.flex-wrap.justify-content-between(action="")
                    .question-item.d-flex.flex-column                
                        input#questionName.faq-input(type="text", required="", name="name")
                        label.faq-label(for="questionName") Your Name
                    .question-item.d-flex.flex-column                        
                        input#questionEmail.faq-input(type="email", required="", name="email")
                        label.faq-label(for="questionEmail") Email Address
                    .w-100.mb-4.position-relative.d-flex.flex-column
                        textarea#yourQuestion.faq-input(name="question", required="", cols="30", rows="4")
                        label.faq-label(for="yourQuestion") Your Question
                    button#questionBtn.message-btn.py-3.my-4.w-100(type="submit") SEND
            .q-title.content-title.text-center.mb-3 QUESTION
            .q-header.text-center QUESTIONS YOU OFTEN ASK
            .faq-acc-wrapper.container.px-3.MT-10
                .faq-acc-item.w-100
                    .faq-acc-item__header.p-5.d-flex.justify-content-between.align-items-center
                        .faq-item-title Lorem ipsum dolor sit amet, consectetur adipiscing elit?
                        img(src="./img/icons/circlearrow_down.svg")
                    .faq-acc-item__body
                        .faq-acc-text
                            | Sed aliquam ligula vel facilisis faucibus. Ut in malesuada sem. Suspendisse mollis vestibulum tellus, sit amet eleifend neque sodales ac. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. 
                            | Sed interdum non orci vitae maximus. Pellentesque tempus ultrices purus in sagittis.      
                .faq-acc-item.w-100
                    .faq-acc-item__header.p-5.d-flex.justify-content-between.align-items-center
                        .faq-item-title Lorem ipsum dolor sit amet, consectetur adipiscing elit?
                        img(src="./img/icons/circlearrow_down.svg")
                    .faq-acc-item__body
                        .faq-acc-text
                            | Sed aliquam ligula vel facilisis faucibus. Ut in malesuada sem. Suspendisse mollis vestibulum tellus, sit amet eleifend neque sodales ac. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. 
                            | Sed interdum non orci vitae maximus. Pellentesque tempus ultrices purus in sagittis.      
                .faq-acc-item.w-100
                    .faq-acc-item__header.p-5.d-flex.justify-content-between.align-items-center
                        .faq-item-title Lorem ipsum dolor sit amet, consectetur adipiscing elit?
                        img(src="./img/icons/circlearrow_down.svg")
                    .faq-acc-item__body
                        .faq-acc-text
                            | Sed aliquam ligula vel facilisis faucibus. Ut in malesuada sem. Suspendisse mollis vestibulum tellus, sit amet eleifend neque sodales ac. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. 
                            | Sed interdum non orci vitae maximus. Pellentesque tempus ultrices purus in sagittis.
                .faq-acc-item.w-100
                    .faq-acc-item__header.p-5.d-flex.justify-content-between.align-items-center
                        .faq-item-title Lorem ipsum dolor sit amet, consectetur adipiscing elit?
                        img(src="./img/icons/circlearrow_down.svg")
                    .faq-acc-item__body
                        .faq-acc-text
                            | Sed aliquam ligula vel facilisis faucibus. Ut in malesuada sem. Suspendisse mollis vestibulum tellus, sit amet eleifend neque sodales ac. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. 
                            | Sed interdum non orci vitae maximus. Pellentesque tempus ultrices purus in sagittis.
                .faq-acc-item.w-100
                    .faq-acc-item__header.p-5.d-flex.justify-content-between.align-items-center
                        .faq-item-title Lorem ipsum dolor sit amet, consectetur adipiscing elit?
                        img(src="./img/icons/circlearrow_down.svg")
                    .faq-acc-item__body
                        .faq-acc-text
                            | Sed aliquam ligula vel facilisis faucibus. Ut in malesuada sem. Suspendisse mollis vestibulum tellus, sit amet eleifend neque sodales ac. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. 
                            | Sed interdum non orci vitae maximus. Pellentesque tempus ultrices purus in sagittis.      
                
    
    include ../pug_includes/footer.pug