extends ../pug_includes/head

block unique-content
    .container.px-3.position-absolute.nav-wrapper
        include ../pug_includes/navbar.pug
    main.main
        .d-flex.align-items-center.position-relative.top-div
           .container.p-0.position-absolute.a-x-auto
            .mx-5
                .content-title.text-center.mb-3 PORTFOLİO
                .content-motto.text-center
                    | Send us your ideas to implement your project
                a.d-block.max-w-20.mx-auto.btn.content-btn.text-black.mt-4(href="#") TAKE ACTION   
        #main-content.container
            #portfolioWrapper.portfolio-wrapper.position-relative.d-flex.flex-wrap.mx-auto.MB-10
                .work-row.w-100
                    a.portfolio-work(href="#")
                        img(src="./img/IMG.png", alt="")
                        .blue-div
                    a.portfolio-work(href="#")
                        img(src="./img/Business-Team-e1401705833531.jpg", alt="")
                        .blue-div
                .work-row.w-100
                    a.portfolio-work(href="#")
                        img(src="./img/370x234.jpg", alt="")
                        .blue-div
                    a.portfolio-work(href="#")
                        img(src="./img/IMG.png", alt="")
                        .blue-div
                .work-row.w-100
                    a.portfolio-work(href="#")
                        img(src="./img/iStock-493325459-2.jpg", alt="")
                        .blue-div
                    .portfolio-work
                        img(src="./img/6.jpg", alt="")
                        .blue-div
                .work-row.w-100
                    .portfolio-work
                        img(src="./img/370x234.jpg", alt="")
                        .blue-div
                    .portfolio-work
                        img(src="./img/Community835x373.jpg", alt="")
                        .blue-div
                .work-row.w-100
                    .portfolio-work
                        img(src="./img/iStock-493325459-2.jpg", alt="")
                        .blue-div
                    .portfolio-work
                        img(src="./img/Community835x373.jpg", alt="")
                        .blue-div
                .show-more.a-x-auto.mx-auto
                    img.mx-auto(src="./img/icons/icon_scrool_down_white.svg")
                    span.scroll-text.more scroll to see more
                    
                

      
    include ../pug_includes/footer.pug